<!DOCTYPE HTML>
<html>

<head>
    <title>Home Log Dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="http://icons.iconarchive.com/icons/webalys/kameleon.pics/512/Microchip-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.9.8/chartist.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/locale/de.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.5/moment-timezone.min.js"></script>

    <script>
        moment.tz.setDefault("Europe/Zurich");
    </script>


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.9.8/chartist.min.css">

    <style>
        .ct-label {
            font-size: 1rem;
        }

        .ct-point {
            stroke-width: 6px !important;
            stroke-linecap: round;
        }

        .ct-line {
            stroke: #ff574b;
            stroke-width: 2px !important;
            stroke-linecap: round;
        }

        #chart1 .ct-point, #chart1 .ct-line {
            stroke: #EA2E49;
        }

        #chart1 .ct-area {
            fill: #EA2E49;
        }

        #chart2 .ct-point, #chart2 .ct-line {
            stroke: #77C4D3;
        }

        #chart2 .ct-area {
            fill: #77C4D3;
        }

        #chart3 .ct-point, #chart3 .ct-line {
            stroke: #333745;
        }

        #chart3 .ct-area {
            fill: #333745;
        }

        #chart4 .ct-point, #chart4 .ct-line {
            stroke: #edcf41;
        }

        #chart4 .ct-area {
            fill: #edcf41;
        }

        #refresh {
            width: 100%;
            margin: 20px 0;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" onclick="window.location='/plot'" href="#">Home Log</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><a onclick="window.location='/plot/hour'" href="#">Hour</a></li>
          <li><a onclick="window.location='/plot'" href="#">Day</a></li>
          <li><a onclick="window.location='/plot/week'" href="#">Week</a></li>
          <li><a onclick="window.location='/plot/month'" href="#">Month</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/ui">API</a></li>
          <li><a onclick="location.reload()" href="#">Refresh</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <h3>Temperature (&deg;C)</h3>
    <div class="ct-chart ct-golden-section" id="chart1"></div>
    <h3>Humidity (%RH)</h3>
    <div class="ct-chart ct-golden-section" id="chart2"></div>
    <h3>Pressure (hPa)</h3>
    <div class="ct-chart ct-golden-section" id="chart3"></div>
    <h3>Luminosity (lux)</h3>
    <div class="ct-chart ct-golden-section" id="chart4"></div>
    <button id="refresh" type="button" onclick="location.reload()" class="btn btn-primary">Refresh</button>
</div>

<script>
    // Initialize a Line chart in the container with the ID chart1
    var c1 = new Chartist.Line('#chart1', {
        series: [{
            name: 'temperature',
            data: [{{temperature_data}}]
        }]
    }, {
        showArea: true,
        axisX: {
            type: Chartist.FixedScaleAxis,
            divisor: {{divisor}},
            labelInterpolationFnc: function (value) {
                return moment.unix(value).format('{{ time_format }}');
            }
        },
        axisY: {
            labelInterpolationFnc: function (value) {
                return (Math.round(value * 100) / 100).toFixed(2);
            }
        }
    });

    // Initialize a Line chart in the container with the ID chart1
    var c2 = new Chartist.Line('#chart2', {
        series: [{
            name: 'humidity',
            data: [{{humidity_data}}]
        }]
    }, {
        showArea: true,
        axisX: {
            type: Chartist.FixedScaleAxis,
            divisor: {{divisor}},
            labelInterpolationFnc: function (value) {
                return moment.unix(value).format('{{ time_format }}');
            }
        },
        axisY: {
            labelInterpolationFnc: function (value) {
                return (Math.round(value * 100) / 100).toFixed(2);
            }
        }
    });

    // Initialize a Line chart in the container with the ID chart1
    var c3 = new Chartist.Line('#chart3', {
        series: [{
            name: 'pressure',
            data: [{{pressure_data}}]
        }]
    }, {
        showArea: true,
        axisX: {
            type: Chartist.FixedScaleAxis,
            divisor: {{divisor}},
            labelInterpolationFnc: function (value) {
                return moment.unix(value).format('{{ time_format }}');
            }
        },
        axisY: {
            labelInterpolationFnc: function (value) {
                return (Math.round(value * 100) / 100).toFixed(2);
            }
        }
    });

    // Initialize a Line chart in the container with the ID chart1
    var c4 = new Chartist.Line('#chart4', {
        series: [{
            name: 'luminosity',
            data: [{{luminosity_data}}]
        }]
    }, {
        showArea: true,
        axisX: {
            type: Chartist.FixedScaleAxis,
            divisor: {{divisor}},
            labelInterpolationFnc: function (value) {
                return moment.unix(value).format('{{ time_format }}');
            }
        },
        axisY: {
            labelInterpolationFnc: function (value) {
                return (Math.round(value * 100) / 100).toFixed(0);
            }
        }
    });
</script>
</body>

</html>